/*-- scss:defaults --*/

// Background and text colors
$backgroundColor: #fff;
$mainColor: #222;
$headingColor: #222;

// Font sizes and styles
// $mainFontSize: 24px;
// $headingTextShadow: none;
// $headingLetterSpacing: normal;
// $headingTextTransform: none;
// $headingFontWeight: 600;
// $heading1Size: 2.5em;
// $heading2Size: 1.6em;
// $heading3Size: 1.3em;
// $heading4Size: 1.0em;

// RevealJS overlay colors
$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

$presentation-title-slide-text-align: center;

/*-- scss:rules --*/

// Make sure the rules are specific to revealjs presentations
.reveal h1 {
  color: #000000; /* A dark teal for the main title */
}

.reveal h2 {
  color: #000000; /* A strong blue for slide titles */
}

.reveal h3 {
  color: #4a0bf6; /* A lighter cyan for sub-headings */
}

.reveal h4 {
  color: #90e0ef; /* An even lighter blue for smaller headings */
}

.reveal .slide figure>figcaption,
.reveal .slide img.stretch+p.caption,
.reveal .slide img.r-stretch+p.caption {
  text-align: center !important;
  font-size: 0.8em; /* You can also control the font size here */
}

.reveal .footnotes {
  margin-top: 2em; /* Adjust this value as needed */
}