/* My custom presentation styles */

.red {
  color: #d33f49;
}

.blue {
  color: #4285f4;
}

.green {
  color: #009E73;
}

.vtop td, .vtop th {
  vertical-align: top;
}

.katex {
  font-size: 0.9em !important;
}
